<% if @lab.attachment.present? %>
<!-- @post.image.present? will always return true, use attached? to check presence -->
  <p>
    <strong>Załącznik:</strong>
    <br>
    <%= link_to "#{@lab.attachment_file_name}", @lab.attachment.url %>
    
    <%= link_to "Pobierz", labs_download_pdf_path, method: :get, id: @lab.id %></p>
    
<% end %>