<%= form_tag action: 'save_appointment', remote: true do %>
    <div class="form-group">
		<div class= "col-md-1">
			<caption><br></caption>
			<div class ="active">
				<%= submit_tag("Save choice", :class=>"btn btn-sccess") %>
			</div>
        </div>
     </div>
<% end %>