<html>
	<body>
		<h1>
			Szczegóły wizyty
		</h1>
		<ul>
			<li><%=visit.notes%></li>
			<li><%=visit.doctor%></li>
			<li><%=visit.patient%></li>
			<li><%=visit.details%></li>
		</ul>
	</body>
</html>