<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
    <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
             <a href="#page-top"></a>
          </li>
         <li>
            <a class="page-scroll" href="#page-top">Home</a>
        </li>
         <li>
             <a class="page-scroll" href="#about">About</a>
         </li>
         <li>
             <a class="page-scroll" href="#download">Download</a>
         </li>
         <li>
            <a class="page-scroll" href="#contact">Contact</a>
         </li>
         <% if current_patient %>
            <li><%= link_to 'Logout', destroy_patient_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to 'Portal pacjenta', new_patient_session_path %></li>
         <% end %>
         <% if current_doctor %>
             <li><%= link_to 'Logout', destroy_doctor_session_path, method: :delete %></li>
         <% else %>
            <li><%= link_to 'Portal doctora', new_doctor_session_path %></li>
        <% end %>
     </ul>
</div>